---
http_interactions:
- request:
    method: get
    uri: http://stats.nba.com/stats/playergamelog?LeagueID=00&PlayerID=203097&Season=ALL&SeasonType=Regular%20Season
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 21 May 2015 01:36:57 GMT
    body:
      encoding: UTF-8
      string: '{"resource":"playergamelog","parameters":{"PlayerID":203097,"LeagueID":"00","Season":"ALL","SeasonType":"Regular
        Season"},"resultSets":[{"name":"PlayerGameLog","headers":["SEASON_ID","Player_ID","Game_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[["22012",203097,"0021201216","APR
        17, 2013","BOS @ TOR","L",17,1,2,0.500,0,0,0.000,0,0,0.000,0,2,2,0,1,0,1,4,2,-5,1],["22012",203097,"0021200820","FEB
        22, 2013","BOS @ PHX","W",4,0,1,0.000,0,0,0.000,1,2,0.500,0,1,1,0,0,0,0,0,1,-1,1],["22012",203097,"0021200807","FEB
        20, 2013","BOS @ LAL","L",7,1,1,1.000,0,0,0.000,0,2,0.000,0,0,0,0,0,1,0,1,2,6,1],["22012",203097,"0021200794","FEB
        19, 2013","BOS @ DEN","L",0,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,0,1],["22012",203097,"0021200733","FEB
        07, 2013","BOS vs. LAL","W",5,1,2,0.500,0,0,0.000,0,0,0.000,0,0,0,0,0,1,0,2,2,-6,1],["22012",203097,"0021200686","FEB
        01, 2013","BOS vs. ORL","W",3,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,0,1,0,0,0,0,-1,1]]}]}'
  recorded_at: Thu, 21 May 2015 01:36:58 GMT
- request:
    method: get
    uri: http://stats.nba.com/stats/playergamelog?LeagueID=00&PlayerID=203097&Season=ALL&SeasonType=Playoffs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 21 May 2015 01:36:58 GMT
    body:
      encoding: UTF-8
      string: '{"resource":"playergamelog","parameters":{"PlayerID":203097,"LeagueID":"00","Season":"ALL","SeasonType":"Playoffs"},"resultSets":[{"name":"PlayerGameLog","headers":["SEASON_ID","Player_ID","Game_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[]}]}'
  recorded_at: Thu, 21 May 2015 01:36:58 GMT
[...]
- request:
    method: get
    uri: http://stats.nba.com/stats/playergamelog?LeagueID=00&PlayerID=203097&Season=ALL&SeasonType=Playoffs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 21 May 2015 01:36:58 GMT
    body:
      encoding: UTF-8
      string: '{"resource":"playergamelog","parameters":{"PlayerID":203097,"LeagueID":"00","Season":"ALL","SeasonType":"Playoffs"},"resultSets":[{"name":"PlayerGameLog","headers":["SEASON_ID","Player_ID","Game_ID","GAME_DATE","MATCHUP","WL","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TOV","PF","PTS","PLUS_MINUS","VIDEO_AVAILABLE"],"rowSet":[]}]}'
  recorded_at: Thu, 21 May 2015 01:36:59 GMT
recorded_with: VCR 2.9.3
